*{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

body{

  background-image: url("pic/greenBackground.jpg")

}

.table{
  background: #a7b54b ;
  display: grid;
  grid-template-columns: repeat(40,15px);
  grid-template-rows: repeat(40,15px);
  border: 2px solid black;
  padding: 0px;
  margin: 0 auto;
  width:600px;
  height: 600px;
  -webkit-box-shadow: 26px 29px 21px 21px rgba(7,51,16,1);
  -moz-box-shadow: 26px 29px 21px 21px rgba(7,51,16,1);
  box-shadow: 26px 29px 21px 21px rgba(7,51,16,1);
}

.one{
  width: 15px;
  height: 15px;
  /* border: 1px solid black; */

}

.snake{
  width: 15px;
  height: 15px;
  background: navy;
}

.head{
  width: 15px;
  height: 15px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,f17432+50,ea5507+51,fb955e+100;Red+Gloss+%232 */
  background: rgb(254,204,177); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(254,204,177,1) 0%, rgba(241,116,50,1) 50%, rgba(234,85,7,1) 51%, rgba(251,149,94,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(254,204,177,1) 0%,rgba(241,116,50,1) 50%,rgba(234,85,7,1) 51%,rgba(251,149,94,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */
  border-radius: 10%;
}

.ran {
  width: 15px;
  height: 15px;
  background: navy;
  border-radius: 50%;
}
h1{
  margin-top: 50px;
  padding: 10px;
  border: 2px solid black;
  color:yellow;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}
/* 1600 */
